@{ViewData["Title"]="Store - ProductDetails";}
<div class="text-center">
    <h1 class="display-4">Store by category</h1>
    <h2>@ViewData["Title"]</h2>

    <p>Learn more about our products and their features.</p>
    <p> @ViewData["Message"]</p>
    
    <p>$"productId: @ViewData["ProductId"]"</p>
    <p>Check out our amazing products!</p>

    <p><a href="/">Back to Home</a></p>
</div>