@{ ViewData["Title"] = "About Us"; }

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    
    <h1>@ViewData["Title"]</h1>
    <p> @ViewData["Message"]</p>

    <p> <a href="/">Back to Home</a></p>
    <p>Learn more about our company and values.</p>
</div>
