@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Routing Demo in ASP.NET Core MVC </h1>
    <h2> Conventional routing Examples </h2>
     <div class="mt-4">
        <h3>Home Controllers Routes: </h3>
        <ul class="list-group">
            <li class="list-group-item"> <a href="/"> (Home/Index) </a></li>
            <li class="list-group-item"> <a href="/Home/About"> /Home/About) </a></li>
            <li class="list-group-item"> <a href="/about-us"> /about-us(custom Route) </a></li>
            <li class="list-group-item"> <a href="/contact"> /contact </a></li>
            <li class="list-group-item"><a href="/contact/sales">/contact/sales</a></li>
            <li class="list-group-item"><a href="/contact/support">/contact/support</a></li>

        </ul>
    </div>
    <div class="mt-4">
    <h3>Products Controllers Routes: </h3>
    <ul class="list-group">
        <li class="list-group-item"><a href="/products">/products</a></li>
        <li class="list-group-item"><a href="/products/details/1">/products/details/1</a></li>
        <li class="list-group-item"><a href="/products/details/123">/products/details/123</a></li>
    </ul>
    </div>

</div>