@{ ViewData["Title"] = "Product Details"; }

<div class="text-center">
    <h1 class="display-4">Product Details</h1>
    <h2>@ViewData["Title"]</h2>

    <p>Learn more about our products and their features.</p>
    <p> @ViewData["Message"]</p>
    <p>Product ID : @ViewData["ProductId"]</p>
    <p>Check out our amazing products!</p>

    <p><a href="/">Back to Home</a></p>
</div>
