@{ ViewData["Title"] = "Products"; }

<div class="text-center">
    <h1 class="display-4">Products</h1>

    <h2>@ViewData["Title"]</h2>
    <p>Explore our diverse range of products tailored to your needs.</p>
    <p> @ViewData["Message"]</p>
    <p>Check out our amazing products!</p>

    
    <p><a href="/">Back to Home</a></p>
</div>
